*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

  @property --cian {
    syntax: '<color>';
    initial-value: #30CFD0;
    inherits: false;
  }
  @property --morado {
    syntax: '<color>';
    initial-value:#330867;
    inherits: false;
  }

  body{
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236f6f6f' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    backdrop-filter: blur(1px);
    /* background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23888888' fill-opacity='0.33'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    background-attachment: fixed;
  /*   text-align: center;
   */  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }



  /* Estilizando el nav */
  #navbar{
    z-index: 100;
    background-color: #000000aa;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0px;
  }

  #navbar h1{
    font-size: 1.rem;
    /* OPCION 1 */
    color: #ffffff;
    text-shadow: #30CFD0 1px -1px 10px, #330867 -1px 1px 10px;

  }
    /* OPCION 2
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;


  }
  #navbar h1:hover{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    background-clip: text;
    color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  */
  .navitem a{
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-size: 1em;
    transition: color 500ms, text-shadow 500ms;
  }

  .navitem a:hover{
    color: rgb(255, 255, 255);
    text-shadow: #ffffff 0px 0px 2px;
  }

  .containerRRSS{
    display: flex;
    width: 12%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .containerRRSS img{
    height: 30px;
    width: 30px;
    filter: invert(100%);
    transition: filter 250ms, transform 250ms;
  }

  .containerRRSS img:hover{
    filter: invert(0%);
    transform: scale(1.2);
  }


  /* Estilizando la portada */
  #portada {
    height: 450px;
    width: 100%;
    margin-top: -50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #33086700 0%, rgba(51, 8, 103, 0.9) 1%, #30CFD0 90%);
    z-index: 0;
  }


  #portada > div{
  margin: 0px 20px;
  }

  #portada > p {
    font-size: 0.9em;
    position: static;

  }

  /* Estilizando el contenido */
  #presentacion{
    z-index: 1;
    /* background-color: rgba(242, 242, 242, 0); */
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    height: 600px;
    width: 90%;
    box-shadow: 0 0 1px #333;
    margin: 3% 3%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #presentacion h1{
    font-size: 4em;
    width: 600px;
  }

  #presentacion img{
    height: 480px;
    width: 640px;
    border-radius: 20px;
    margin: 0px 10px;
    box-shadow: 0 0 25px #333;
  }

  /* Estilizando los servicios */
  #servicios{
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.95);
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  #servicios > h1{
    color: rgb(248, 248, 248);
    font-size: 2rem;
    margin-top: 100px;
    animation: nuestrosServicios 3s infinite ;
  }

  @keyframes nuestrosServicios{
    0%{
      text-shadow: 0 0 0px #333;
    }
    50%{
      text-shadow: 0px 0px 20px white;
    }
    100%{
      text-shadow: 0 0 0px #333;
    }
  }
  .containerTarjetas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  .tarjetas{
    width: 300px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: box-shadow 1s;
  }

  .tarjetas:hover{
    box-shadow: 0px 0px 20px white;
  }

  div.containerTarjetas > div:nth-of-type(1){
    background-image: url(/assets/img/DesarrolloWeb.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  div.containerTarjetas > div:nth-of-type(2){
    background-image: url(/assets/img/ResponsiveDesign.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }

  .containerTarjetas > div:nth-of-type(3){
    background-image: url(/assets/img/LandingPage.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
  }


  .tarjetas > h2{
    color: #000000;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;

  }

  .tarjetas > form{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tarjetas > form > button{
    background: linear-gradient(to right, var(--cian), var(--morado));
    transition: --cian 1s, --morado 1s,transform 1s;
    color: rgb(248, 248, 248);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    font-size: 1em;
  }

  .tarjetas > form > button:hover{
    transform: scale(1.05);
    cursor: pointer;
    --cian: #330867;
    --morado: #30CFD0;
  }
  /* Estilizando el formulario */

  .container{
    padding: 25px 40px 10px 40px;
    margin: 100px 0px;
    background: #fff;
    width: 800px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);

  }
  .container .text{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    background: -webkit-linear-gradient(180deg,#330867e6 25%, #30CFD0 50%, rgba(51, 8, 103, 0.9) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .container form{
    padding: 30px 0 0 0 0;
  }

  .container form .form-row{
    display: flex;
    margin: 32px 0;
  }

  form .form-row .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
  }

  form .form-row .textarea{
    height: 70px;
  }

  .input-data input,
  .textarea textarea{
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0,0.12);
  }

  .textarea textarea{
    resize: none;
    padding-top: 10px;
  }

  .input-data input:focus ~ label,
  .textarea textarea:focus ~ label,
  .input-data input:valid ~ label,
  .textarea textarea:valid ~ label{
    transform: translateY(-20px);
    color: rgb(165, 165, 165);
    font-size: 14px;
  }

  .input-data label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .textarea label{
    width: 100%;
    bottom: 40px;
    background: #fff;
  }

  .input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
  }

  .input-data .underline:before,
  .input-data .underline:after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #30CFD0;
    transition: transform 0.3s ease;
    transform: scaleX(0);
    transform-origin: center;
  }

  .input-data input:focus ~ .underline:before, .underline:after,
  .textarea textarea:focus ~ .underline:before, .underline:after,
  .input-data input:valid ~ .underline:before, .underline:after,
  .textarea textarea:valid ~ .underline:before, .underline:after{
    transform: scaleX(1);
  }

  .submit-btn .input-data{
    height: 45px!important;
    width: 25%!important;
    overflow: hidden;
  }

  .submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    transition: all 0.3s;
    background: -webkit-linear-gradient(left, #330867e6, #30CFD0, #330867e6, #30CFD0);
  }

  .submit-btn .input-data:hover .inner{
    left: 0;
  }

  .submit-btn .input-data input{
    position: relative;
    z-index: 2;
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

  }
  /* Estilizando el footer */
  footer{
    width: 100%;
    height: 350px;
    background-color: #000000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .columna{
    width: 3500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .columna > *{
    margin: 10px 0px;
    text-align: left;
  }

  .columna ul{
    list-style: none;
  }

  .columna > h4 > a{
    color: #fff;
    text-decoration: none;
  }

  .social-media{
    height: 25px;
    width: 25px;
    margin: 5px 0px;
    transition: transform 500ms;
  }

  .social-media:hover{
    transform: scale(1.2);
  }

  .columna .logo{
    height: 15em;
    width: 15em;
    filter: invert(100%);
  }
